body {
	font-family: "Helvetica", helvetica, arial, sans-serif;
}

.container {
	background-color: #fedf00;
}

.box1{
	height: 10px;
	background-color:#009b3a;
	border-radius: 10px;
	margin-bottom: 30px;
}

.head {
	font-size: 60px;
		color:white;
		font-weight: bolder;
		margin-top: 20px;

}
.box3 { 
	width: 70px;
	height: 70px;
	background-color:#002776;
	border-radius: 20px;
	border: 3px solid white
}
.box2{
		height: 20px;
		background-color:#009b3a;
		border-radius: 10px;
		margin-bottom: 50px;
		margin-top: 100px;
}
.dateopening {
	font-size: 30px;
	font-weight:bolder;
	color: #002776;
}
.dateclosing {
	font-size: 30px;
	font-weight:bolder;
	color: #009b3a;
	margin-top: 50px
}
.date {
	font-size: 30px;
	font-weight:bold;
	color: white;
}
.list{
	font-size: 30px;
	font-weight:bold;
	color: white;
	margin-top:100px;
}
.sports{
	font-size: 20px;
	color: white;
	margin-bottom:50px;
}

